---
yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

rules:
  braces:
    max-spaces-inside: 1
  brackets: enable
  colons: enable
  commas: enable

  comments:
    min-spaces-from-content: 1
    require-starting-space: true
  comments-indentation: false       # obligatoire pour Galaxy

  document-end: disable
  document-start: enable

  empty-lines:
    max: 1
    max-start: 0
    max-end: 0
  empty-values: disable
  hyphens: enable

  indentation:
    spaces: 2
    indent-sequences: true

  key-duplicates: enable
  key-ordering: disable             # indispensable pour Ansible/Jinja

  line-length:
    max: 160
    level: warning

  new-line-at-end-of-file: enable
  new-lines: enable

  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true

  quoted-strings:
    required: false                 # nécessaire pour les chaînes Jinja

  trailing-spaces: enable

  truthy:
    allowed-values: ['true', 'false']
    level: error
