---
### Checks
- name: Import check tasks
  ansible.builtin.import_tasks: check.yml
  tags: always

### Import vars
- name: Gather OS specific variables
  ansible.builtin.include_vars: "{{ params }}"
  vars:
    params_:
      files:
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "{{ ansible_os_family | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "{{ ansible_distribution | lower }}.yml"
        - "{{ ansible_os_family | lower }}.yml"
      paths:
        - vars
    params: "{{ lookup('first_found', params_, errors='ignore') }}"
  when:
    - (params | length > 0)
  tags: always

### Install
- name: Import install tasks
  ansible.builtin.include_tasks: install.yml
  tags: always

### Success run flag
- name: "Ensure /var/cache/ansible exists"
  become: true
  ansible.builtin.file:
    path: /var/cache/ansible
    state: directory
    owner: root
    group: root
    mode: '0755'
  when:
    - ansible_os_family in ["Debian", "RedHat"]
    - success_run_flag is defined
    - success_run_flag | bool
  changed_when: false
  failed_when: false
  tags: always

- name: "Creation Successful run flag"
  become: true
  ansible.builtin.copy:
    dest: "/var/cache/ansible/{{ role_path | basename }}"
    content: "{{ ansible_date_time.iso8601 }}"
    owner: root
    group: root
    mode: '0644'
  when:
    - ansible_os_family in ["Debian", "RedHat"]
    - success_run_flag is defined
    - success_run_flag | bool
  changed_when: false
  failed_when: false
  tags: always
