{{ ansible_managed | comment }}

[Unit]
Description=Prometheus Graylog Exporter
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/graylog-exporter \
    -log.level debug \
    -graylog.username admin \
    -graylog.password Peanagwednug1 \
    -graylog.url https://graylog.kosc.net/api \
    -listen-address ":{{ graylog_exporter_listen_port }}" \
    -graylog.metrics "jvm.memory.total.max,jvm.memory.total.used,jvm.memory.total.init,org.graylog2.throughput.output,org.graylog2.throughput.input,org.graylog2.throughput.input.1-sec-rate,org.graylog2.throughput.output.1-sec-rate,org.graylog2.journal.entries-uncommitted"

ExecReload=/bin/kill -HUP $MAINPID
SyslogIdentifier=graylog_exporter
RestartSec=1
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
