{{ ansible_managed | comment }}

[Unit]
Description=Prometheus Graylog Exporter
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/graylog-exporter \
    -listen-address "{{ graylog_exporter_listen_port }}" \
    -log.level {{ graylog_exporter_loglevel }} \
    -graylog.username {{ graylog_exporter_graylog_admin }} \
    -graylog.password {{ graylog_exporter_graylog_passwd }} \
    -graylog.url {{ graylog_exporter_graylog_url }} \
    -graylog.metrics "{{ graylog_exporter_metrics }}"

ExecReload=/bin/kill -HUP $MAINPID
SyslogIdentifier=graylog_exporter
RestartSec=1
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
